<h1>Edit book in Library!</h1>

<!-- action: url to which we want to send data -->
<!-- method: http method that we want to use -->

<%= render 'form', book: @book, action: :edit %>

<!-- 
this is here as a placeholder while i watch the match  wel shiti is  a stop 
in the game and awilj kjfj  jkj ojsdfojadf o kjsdkj ajao  jjlkjfjar 
jsjd -->
