<h1>Edit book in Library!</h1>
<!-- after the comma we put the variables that we would like to have available in _forms -->
<!-- action: url to which we want to send data -->
<!-- method: http method that we want to use -->

<%= render 'form', book: @book, action: :edit %>


