<h1>Build a new cat!</h1>

<%= render "form", cat: @cat %>


<!-- We have the form, so that when we fill something
but faile to save it. It does not simply disapear,
but its instead saved there for when the user tryes again 
to do it properly. -->